@{
    Layout = "_AdminLayout";
    ViewBag.title = "Book";
}

@model Book
<div style="text-align: center">
    <h1 class="mt-3">Edit Book</h1>
</div>
<div class="add-form mt-5 col-sm-11">
     <div style="color: red">@ViewBag.error</div>
    <form asp-controller="Book" asp-action="Edit" method="post" id="pro_form" enctype="multipart/form-data">
            <input type="hidden" asp-for="book_id"></input>
        <div class="mb-4">
            <label for="pro_title" class="form-label">Title</label>
            <input type="text" asp-for="title" class="form-control" id="pro_title" placeholder="Book title" style="display: inline-block">
            <span asp-validation-for="title" class="validate-mess" style="color: red; font-size:14px"></span>
        </div>
        <div class="mb-4">
            <label for="pro_title" class="form-label">Publishing year</label>
            <input type="text" asp-for="publishing_year" class="form-control" id="pro_title" placeholder="Book title" style="display: inline-block" required>
            <span asp-validation-for="publishing_year" class="validate-mess"></span>
        </div>
        <div class="mb-4">
            <label for="pro_author" class="form-label">Author</label>
            <input type="text" asp-for="author" class="form-control" id="pro_author" placeholder="author" style="display: inline-block">
            <span asp-validation-for="author" class="validate-mess" style="color: red; font-size:14px"></span>
        </div>
        <div class="mb-4">
            <label for="pro_cate" class="form-label">Category</label>
            <select class="form-control" asp-for="cate_id" id="pro_cate" style="display: inline-block">
                <option value="">Choose category</option>
                @foreach (var cate in (List<Category>) ViewData["cateList"])
                {
                    <option value="@cate.cate_id"  selected="@(cate.cate_id == Model.cate_id)" >@cate.name</option>
                }
            </select>
            <span asp-validation-for="category" class="validate-mess" style="color: red; font-size:14px"></span>
        </div>
        <div class="mb-4">
            <label for="pro_sup" class="form-label">Supplier</label>
            <select class="form-control" asp-for="sup_id" id="pro_sup" style="display: inline-block">
                <option value="">Choose supplier</option>
                @foreach (var sup in (List<Supplier>)ViewData["supList"])
                {
                    <option value="@sup.sup_id" selected="@(sup.sup_id == @Model.sup_id)">@sup.name</option>
                }
            </select>
            <span asp-validation-for="supplier" class="validate-mess" style="color: red; font-size:14px"></span>
        </div>
        <div class="mb-4">
            <label for="pro_des" class="form-label">Description</label>
            <textarea asp-for="des" class="form-control" style="display: inline-block" required>

            </textarea>
            <span asp-validation-for="des" class="validate-mess" style="color: red; font-size:14px"></span>
        </div>
        <div class="mb-4">
            <label for="pro_price" class="form-label">Price</label>
            <input type="number" asp-for="price" class="form-control" id="pro_price" placeholder="price" style="display: inline-block">
            <span asp-validation-for="price" class="validate-mess" style="color: red; font-size:14px"></span>
        </div>
        <div class="mb-4">
            <label for="pro_quantity" class="form-label">Inventory</label>
            <input type="number" class="form-control" asp-for="inventory_num" placeholder="quantity">
            <span asp-validation-for="inventory_num" class="validate-mess" style="color: red; font-size:14px;"></span>
        </div>
        <div class="mb-4">
            <label for="img_preview" class="form-label">Image</label>
            <div style="display: block">
                <img src="/img/book/@Model.image" alt="..." class="img-thumbnail" id="img_preview" style="width: 13rem;">
            </div>
            <input asp-for="image" type="file" id="pro_img" hidden>
            <button type="button" class="btn btn-primary mt-3" id="btn_open_dialog_image">Choose image</button>
            <span asp-validation-for="image" class="validate-mess"></span>
        </div>
        <div style="text-align: end">
            <input type="submit" class="btn btn-success" id="btn_submit_product" value="Update">
            <a href="/product"><input type="button" class="btn btn-warning" value="cancel"></a>
        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#btn_open_dialog_image').click(function () {
                $('#empty_img').hide()
                $('#pro_img').click()
            })

            $('#pro_img').change(function () {
                Utils.previewImage()
            })
        })
    </script>
}