@functions {
    String ActivePage(string pageName)
    {
        if (pageName.Equals(ViewBag.title))
        {
            return "current";
        }
        return "";
    }
}
<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.title</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <partial name="_ShareLibCss" />
    <link href="~/css/client/_homeShareLayout.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    @await RenderSectionAsync("Style", required:false)
</head>
<body>


<div id="templatemo_container">
     <!-- Navbar -->
    <div id="templatemo_menu">
        <ul>
            <li><a asp-controller="Home" asp-action="Index" class="@ActivePage("Home")">Home</a></li>
                <li><a asp-controller="Profile" asp-action="Index" class="@ActivePage("Profile")">Profile</a></li>
                <li><a asp-controller="Cart" asp-action="Index" class="@ActivePage("Cart")">Cart</a></li>
                @if (ViewBag.loggedIn == true)
                {
                    <li style="float:right; cursor:pointer" id="btn_logout"><a>Logout</a></li>
                } else {
                    <li style="float:right"><a asp-controller="Home" asp-action="Login">Login</a></li>
                }
            <li style="float:right"><a asp-controller="Home" asp-action="Register">Register</a></li>
        </ul>
    </div> 
    <!-- end Navbar -->

        @if(ViewBag.title == "Home")
        {
            <!-- banner -->
            <div id="templatemo_header">
                <div id="templatemo_special_offers">
                    <p>
                        <span>25%</span> discounts for
                        purchase over $80
                    </p>
                </div>

                <div id="templatemo_new_books">
                    <ul>
                        @{int quantityNewBook = 3;}
                        @foreach (Book book in Model)
                        {
                            <li>@book.title</li>
                            {
                                quantityNewBook -= 1;
                            }
                            @if (quantityNewBook == 0)
                            {
                                break;
                            }
                        }
                    </ul>
                </div>
            </div>
            <!-- end banner -->
        }


            <!-- content  -->
                @RenderBody()
            <!--  content  -->

    <!--footer -->
    <div id="templatemo_footer">
        <a asp-controller="Home" asp-action="Index">Home</a> | <a asp-controller="Profile" asp-action="Index">Profile</a>| <a>FAQs</a> | <a>Contact Us</a><br />
        Copyright © 2024 <a><strong>Book world</strong></a>
    </div>
    <!-- end of footer -->
</body>
<partial name="_ShareLibJS"/>
@await RenderSectionAsync("Script", required:false)
</html>