@functions {
    String ActivePage(string pageName)
    {
        if (pageName.Equals(ViewBag.title))
        {
            return "current";
        }
        return "";
    }
}
<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.title</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="~/css/client/_homeShareLayout.css" rel="stylesheet" type="text/css" />
    @await RenderSectionAsync("Style", required:false)
</head>
<body>


<div id="templatemo_container">
     <!-- Navbar -->
    <div id="templatemo_menu">
        <ul>
            <li><a asp-controller="Home" asp-action="Index" class="@ActivePage("Home")">Home</a></li>
                <li><a asp-controller="Profile" asp-action="Index" class="@ActivePage("Profile")">Profile</a></li>
                <li><a asp-controller="Cart" asp-action="Index" class="@ActivePage("Cart")">Cart</a></li>
                <li><a asp-controller="Admin" asp-action="Dashboard">Manager</a></li>
            <li style="float:right"><a asp-controller="Home" asp-action="Login">Login</a></li>
        </ul>
    </div> 
    <!-- end Navbar -->

        @if(ViewBag.title == "Home")
        {
            <!-- banner -->
            <div id="templatemo_header">
                <div id="templatemo_special_offers">
                    <p>
                        <span>25%</span> discounts for
                        purchase over $80
                    </p>
                </div>

                <div id="templatemo_new_books">
                    <ul>
                        <li>Suspen disse</li>
                        <li>Maece nas metus</li>
                        <li>In sed risus ac feli</li>
                    </ul>
                </div>
            </div>
            <!-- end banner -->
        }


   @RenderBody()

    <!--footer -->
    <div id="templatemo_footer">
        <a asp-controller="Home" asp-action="Index">Home</a> | <a asp-controller="Profile" asp-action="Index">Profile</a> | <a href="subpage.html">Books</a> | <a href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
        Copyright © 2024 <a href="#"><strong>Book world</strong></a>
    </div>
    <!-- end of footer -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

@await RenderSectionAsync("Script", required:false)
</html>