@functions {
    String ActivePage(string pageName)
    {
        if (pageName.Equals(ViewBag.title))
        {
            return "active";
        }
        return "";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <partial name="_ShareLibCss" />
    <link rel="stylesheet" href="~/css/admin/dashboardRemote.css" asp-append-version="true">
</head>
<body>
    <div class="container-fluid" style="height: 100%">
        <div class="row h-100">
            <div class="col-2" id="block_dashboard" style="position: fixed">
                <div id="header_dashboard">
                    <div id="title_dashboard">ADMIN</div>
                </div>
                <div id="body_dashboard">
                    <div class="controller-in-dashboard @ActivePage("Category Request")" data-page-name="supperadmin/CategoryRequest"><i class="bi-tags"></i> Category </div>
                    <div class="controller-in-dashboard @ActivePage("Customer Request")" data-page-name="supperadmin/CustomerRequest"><i class="bi-tags"></i> Customer </div>
                    <div class="controller-in-dashboard @ActivePage("Owner Request")" data-page-name="supperadmin/OwnerRequest"><i class="bi-tags"></i> Owner </div>
                    <div class="controller-in-dashboard" data-page-name="Home"><i class="bi-box-seam"></i> Website </div>
                    <a asp-controller="Home" asp-action="Logout" style="text-decoration: none; color: black"><div class="controller-in-dashboard"><i class="bi-power"></i> Logout</div></a>
                </div>
            </div>

            @RenderBody()

        </div>
    </div>

</body>
<partial name="_ShareLibJS" />
<script src="~/js/admin/dashboardRemote.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required:false)
<script>
    $('#btn_logout').click(function () {
        Utils.deleteCookie('__UserToken')
        location.href = "/Home/Login"
    })
</script>
</html>
