@using BookWorldStore.Repository;
@{
    ViewBag.title = "Cart";
    Layout = "_CLientLayout";
}
@section Style{

}
<div class="" style="background-color: rgb(102, 95, 170); text-align: center;margin-top:1rem;margin:.5rem">
    <button type="button" class="yellow-button" id="btn_get_order" style="margin-top: .5rem; float: right; background: green" >
        <a asp-controller ="Cart" asp-action="Payment" asp-route-id="@ViewData["order_id"]">Payment</a>
	</button>
    <button type="button" data-bs-toggle="modal" data-bs-target="#history_model" class="yellow-button" style="margin-top: .5rem; float: right; margin-right: 1rem; background: rgb(151, 127, 34)">
        Old order
    </button>
</div>

<div id="cart_content">
    <table class="table pt-10" style="color:white; font-size:12px">
        <thead>
            <tr style="text-align: center">
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            @foreach (OldOrderViewModel od in (List<OldOrderViewModel>) ViewData["list"])
            {
                <tr>
                    <th scope="row">@od.id</th>
                    <th scope="row">
                        <img style="width: 5rem; height: 7rem" src="~/img/decoration/@od.image" alt="">
                    </th>
                    <td>@od.title </td>
                    <td>@od.price</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary btn-reduce" data-pro-id="" data-order-detail-id=""><a asp-controller="Cart" asp-route-id="@od.id" asp-action="Decrease">-</a></button>
                            <input  type="text" style="text-align: center; vertical-align: middle; width: 3rem; border: none" value="@od.quantity" readonly>
                            <button type="button" class="btn btn-info btn-increase" data-pro-id="@od.id" data-order-detail-id=""><a asp-controller ="Cart" asp-route-id="@od.id" asp-action="Increase">+</a></button>
                        </div>
                    </td>
                    <td>@od.total</td>
                    
                    <td id="total_price_"></td>
                    <td>
						<button type="button" class="yellow-button" data-order-detail-id=""><a asp-controller="Cart" asp-route-id="@od.id" asp-action="Remove">Delete</a></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Change password model -->
<div class="modal fade" id="history_model" tabindex="-1" aria-labelledby="history_model" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content color-popup-model">
                <div class="modal-header">
                    <h1 class="modal-title title-model-custom">History</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body body-model-custome">
                <partial name="OldOrderPartial" />
                </div>
        </div>
    </div>
</div>


@section Script{

}