@using BookWorldStore.Repository;
@model IEnumerable<OldOrderViewModel>
<div id="cart_content">
    <table class="table pt-10" style="color:white; font-size:12px">
        <thead>
            <tr style="text-align: center">
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total price</th>
                    <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            @foreach(OldOrderViewModel order in Model)
            {
                <tr>
                    <th scope="row"> @order.id </th>
                    <th scope="row">
                        <img style="width: 5rem; height: 7rem" src="~/img/decoration/@order.image" alt="">
                    </th>
                    <td>@order.title</td>
                    <td>@order.price $</td>
                    <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                @order.quantity
                            </div>
                    </td>
                    <td>@order.total</td>
                    <td>
                        @order.date
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
