@model IEnumerable<Order>
@{
    Layout = "_AdminLayout";
    ViewBag.title = "Order";
}

<div style="padding-top: 5rem">
    <table class="table table-hover pt-10" style="text-align:center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Order date</th>
                <th scope="col">Delivery date</th>
                <th scope="col">Total</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <th scope="row">@order.order_id</th>
                    <td>@order.user.email</td>
                    <td>@order.user.phone</td>
                    <td>@order.user.address</td>
                    <td>@order.order_date.ToShortDateString()</td>
                    <td>@order.delivery_date.ToShortDateString()</td>
                    <td>$@order.total</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="/order/orderdetail/@order.order_id"><button type="button" class="btn btn-primary btn-view-detail" data-order-id="@order.order_id">view</button></a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>