@{
    ViewBag.title = "Home";
    Layout = "_CLientLayout";
   
}
@model IEnumerable<Book>

@section Style{
    <link href="~/css/client/searchBox.css" rel="stylesheet" type="text/css" asp-append-version="true" />
}


<div id="templatemo_content">
<div id="templatemo_content_left">
    <div class="templatemo_content_left_section">
        <h1>Categories</h1>
        <ul>
                @foreach (Category cate in (List<Category>) ViewData["cateList"])
                {
                    <li><a asp-controller="Home" asp-action="Index" asp-route-id="@cate.cate_id">@cate.name</a></li>
                }
            
        </ul>
    </div>
    <div class="templatemo_content_left_section">
        <h1>Bestsellers</h1>
        <ul>
                @foreach (Category cate in (List<Category>)ViewData["cateList"])
                {
                    <li><a asp-controller="Home" asp-action="Index" asp-route-id="@cate.cate_id">@cate.name</a></li>
                }
        </ul>
    </div>
</div>
<!-- end content left -->

    <!-- content right -->
    <div id="templatemo_content_right">

    <div style="position:relative; height:3rem">
            <p style="font-size: 12px;color: rgb(203, 199, 80);font-weight: bold;">
                Search
            </p>
            <div class="search-wrapper">
                <div class="input-holder">
                    <input type="text" class="search-input" placeholder="Type to search" />
                    <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
                </div>
                <span class="close" onclick="searchToggle(this, event);"></span>
            </div>
    </div>

        @foreach (var book in Model)
        {
            <div class="templatemo_product_box" style="padding:1rem">
                <h1>@book.title <span>(by @book.author)</span></h1>
                <img src="/img/book/@book.image" alt="image" style="height:9rem;width:6rem"/>
                <div class="product_info">
                <p style="overflow: hidden; text-overflow: ellipsis; height: 8.9rem; font-size:larger">
                        @book.des
                </p>
                    <h3 style="margin:0;color:forestgreen">$<p style="margin:0;color:rgb(203, 199, 80);display:inline-block">@book.price</p> </h3>
                    <h3 style="font-size:small;margin:0;">Category: <p style="margin:0;color:rgb(203, 199, 80);display:inline-block">@book.category.name</p> </h3>
                    <h3 style="font-size:small">Available: <p style="color:rgb(203, 199, 80);display:inline-block">1</p> </h3>
                </div>
                <div style="float:left">
                <div class="buy_now_button" style="margin:0" data-book-id="@book.book_id">
                    <a>Add to cart</a>
                </div>
                <div class="detail_button" style="margin:0"><a asp-controller="Home" asp-action="Detail" asp-route-id="@book.book_id">Detail</a></div>
                </div>
            </div>
            <div class="cleaner_with_height">&nbsp;</div>
        }


            <div class="cleaner_with_height">&nbsp;</div>
        </div> 
        <!-- end content right -->

        <div class="cleaner_with_height">&nbsp;</div>
    </div>
    <!-- end of content -->

    @section Script{
        <script src="~/js/client/searchBox.js" asp-append-version="true"></script>
       <script src="~/js/client/home.js" asp-append-version="true"></script>
    }



